:root{
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* Text colors */
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --light-text-color: #FFFFFF;
    --black-text-color: #000000;
    --contacs-text-color: color: rgba(255, 255, 255, 0.6);

    /* Background colors */
    --bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    --accent-bg-color: #2196F3;
    --light-bg-color: #FFFFFF;
}

body{
    font-family: var(--main-font);
    color: var(--primery-text-color);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.header {
}

.logo {}

.logo-part {}

.navigation {}

.nav-list {}

.nav-item {}

.nav-link {}

.contacts-list {}

.contacts-item {}

.contacts-link {}

.hero {}

.main-title {}

.hero-btn {}

.features {}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-list {}

.features-item {}

.features-title {}

.features-text {}

.about {}

.about-title {
}

.about-list {}

.about-item {}

.about-img {}

.team {}

.team-title {}

.team-list {}

.team-item {}

.team-img {}

.team-name {}

.team-info {}

.footer {}

.adr {}

.footer-list {}

.footer-item {}

.footer-contacs {}